################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode-Problem-Solving/.vs/LeetCode-Problem-Solving/v16
/LeetCode-Problem-Solving/LeetCode-Problem-Solving/bin/Debug/netcoreapp3.1
/LeetCode-Problem-Solving/LeetCode-Problem-Solving/obj
